html,
body {
    direction: rtl;
    text-align: right;
}

@media (min-width: 768px) {

    .site-header .bar1 .bar1-side {
        margin-left: 0;
        margin-right: auto;

    }
}

.site-header .bar1 .bar1-side .icons-wr .user .user-text {
    margin-right: 5px;
    margin-left: 0;

}

.site-header .bar1 .bar1-side .icons-wr a .count {

    top: -60%;
    left: auto;
    right: 50%;

}

.navbar-nav {

    padding-right: 0px;

}

.site-header .bar1 .bar1-side .icons-wr .lang {
    background-image: url(../pic/letter-e-white.svg);
    transform: scale(.9);
}

.site-header.scrolled .bar1 .bar1-side .icons-wr .lang {
    background-image: url(../pic/letter-e.svg);
}

.prd-sec .card .card-content .btn .i-wr {
    padding-left: .5rem;
}

.hero .btn .i-wr {
    margin-left: 0;
    margin-right: .5rem;
    transform: rotate(180deg);
}

.hero .btn:hover .i-wr {

    transform: rotate(180deg) translateX(50%) !important;
}

.pic-sec .card.card1 .bg {
    background-image: url(../pic/bg.png);
    background-position: top left;
}

.pic-sec .card .content {
    padding-left: 0;
    padding-right: 2rem;
}

.pic-sec .card .content .btn .i-wr {
    margin-left: 0;
    margin-right: 1rem;

}

.pic-sec .card .content .btn .feather-16 {
    transform: rotate(180deg);
}


footer .form-inline label {

    margin-right: 0;
    margin-left: .5rem;
}

/* about */
.breadcrumb .crumb-item:not(:last-child)::after {
    content: " \f104";
    font-family: FontAwesome;
    position: absolute;
    right: auto;
    left: -15px;
    color: #969696 !important;
}

/* acc set */
.user-inf .img-wr {
    margin-right: 0;
    margin-left: .5rem;
}

.user-side .list-group-item .feather-17 {
    margin-right: 0rem;
    margin-left: 0.5rem;
}

.sett-card .line span {
    display: inline-flex;
}

.user-box .user-card .lbl {
    font-size: 14px;
    padding-right: 0;
    padding-left: 5px;
    white-space: nowrap;
}

.sett-card .title span {
    display: inline-flex;
}

@media (max-width: 500px) {
    .sett-card .action {
        width: 100%;
        text-align: left;
        margin-top: 0.85rem;
    }
}

/* blog */
@media (min-width: 768px) {
    .blog-sec .article {
        padding-left: 5rem;
        padding-right: 1rem;
    }
}

.main-col .title {
    padding-left: 0;
    padding-right: 1rem;
}

.side-card .cardbody {
    padding-left: 0;
    padding-right: 13px;

}

.side-card {
    width: 100%;
    max-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 0;
    padding-right: 0;
    padding-left: .5rem;
}

@media (min-width: 1200px) {
    .blog-sec .side-col {

        padding-left: 0;
        padding-right: 1rem;

    }
}

/* cart check */
.table-img {

    margin-right: 0;
    margin-left: 1rem;
}

.cart-table .delete-td {
    padding-right: 12px;
    padding-left: 0;
}

.coform-wr input {

    margin-right: 0;
    margin-left: .75rem;

}

.form-check-input {

    margin-left: 0;
    margin-right: -1.25rem;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 0;
    padding-right: 1.25rem;
}

.cart-total .address-wr .btn {
    margin-right: .5rem;
    margin-left: 0;
}

/* contact */
.contact-sec .cont-inf img {
    margin-right: 0;
    margin-left: .5rem;
}

.contact-sec .icons-wr a {

    margin-right: 0;
    margin-left: 22px;

}

/* fav */
.fav-card .remove {

    right: auto;
    left: 0;

}

.fav-card .content img {
    width: 125px;
    max-height: 125px;
    margin-right: 0;
    margin-left: 1rem;
}

.place-check label span {
    font-weight: normal;
    color: #4d4d4d;
    display: inline-flex;
}

/* shiping form */


/* 

.iti--allow-dropdown .iti__flag-container,
.iti--separate-dial-code .iti__flag-container {
    right: 0;
    left: auto;
}

.iti--allow-dropdown input,
.iti--allow-dropdown input[type=text],
.iti--allow-dropdown input[type=tel],
.iti--separate-dial-code input,
.iti--separate-dial-code input[type=text],
.iti--separate-dial-code input[type=tel] {
    padding-right: 52px;
    padding-left: 6px;
    margin-left: 0;
} */


.iti.iti--allow-dropdown {
    direction: ltr;
    text-align: left;
}

.form-style .btn.transe {
    margin-left: 0;
    margin-right: .75rem;
}

/* user orders */
.user-box .user-card .flx-bn .item {

    padding-right: 0;
    padding-left: .5rem;

}

.state-bar .step-wr.line::before {
    left: auto;
    right: 0;
    top: 50%;
}

.user-card .ord-pro .img-wr {
    margin-right: 0;
    margin-left: 1rem;
}

/* product */
.write-comm form .dark-style {
    margin-left: 0;
    margin-right: auto;
}

.pro-text .stock span {
    display: inline-flex;
}

.pro-btns .nice-number,
.pro-btns a {
    margin-right: 0;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.rate-num {
    color: #a7a7a7;
    font-size: 14px;
    margin-left: 0;
    margin-right: .8rem;
    line-height: 2;
}

/* 00000000000000000000000000000000000000000000000000000*/

#sidefilter {

    margin-left: 0;
    margin-right: -105%;

}

#sidefilter.active {
    margin-right: 0;
}


@media (min-width: 880px) {

    #sidefilter {
        margin-right: 0;
    }

}


.pro-bar .sort-wr .dropdown-menu .dropdown-item {
    padding-left: .5rem;
    padding-right: .75rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    text-align: right;
}

.pro-bar .sort-wr .dropdown-toggle {
    padding-left: 12px;
    padding-right: 5px;
}

.pro-bar .sort-wr {
    padding-right: 0;
    padding-left: 1rem;
}

.pro-bar .view-wr a.grid {
    margin-right: 0;
    margin-left: .5rem;
}

#sidefilter form .scroll {

    padding-right: 0;
    padding-left: 1rem;
}

#sidefilter .range-cont {
    direction: ltr;
    text-align: left;
}

.side-remove {

    margin-left: 0;
    margin-right: auto;

}

@media (min-width: 768px) {
    .list-view .custmcol .card .card-content .rate .rate-wrap {
        margin-right: 0;
        margin-left: .75rem;
    }
}

.rate-wrap .rate {
    direction: rtl;
    justify-content: flex-start !important;
}

.side-modal button.close {

    left: auto;
    right: -38px;

}

.modal.right_modal.fade.show .modal-dialog {
    left: -40px;
    right: auto;
}

.soch-log-wr .btn img {
    margin-right: 0;
    margin-left: 11px;
}


.trans-modal .form-style .form-check label {

    margin-left: 0;
    margin-right: .5rem;
}

.trans-modal .form-style .form-check-inline {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: 0;
    margin-left: .75rem;
    padding-right: 0;
}


#personalinfo>div>div>div.modal-body.p-4.login-style>div>form>div>div:nth-child(3) {
    direction: ltr;
}